<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wonhigh.dc.client.dal.mapper.TabDupPrimaryConfigMapper">
	<resultMap id="BaseResultMap" type="cn.wonhigh.dc.client.common.model.TabDupPrimaryConfig">
		<id column="id" property="id" jdbcType="INTEGER" />
		<id column="table_name" property="tableName" jdbcType="VARCHAR" />
		<id column="group_name" property="groupName" jdbcType="VARCHAR" />
		<id column="is_disable" property="isdisable" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="getTabDupPrimaryConfigs" resultMap="BaseResultMap">
		SELECT DISTINCT group_name,table_name FROM ods_tab_dup_primary_config WHERE is_disable=0
	</select>
</mapper>